@import url('../css/header.css');
@import url('../css/shared.css');


main{
    margin: 2.4rem 2.4rem 0;
    min-height:70vh;
    padding:1.2rem;
    display:flex;
    justify-content: space-around;
}

.main-heading{
    text-align:center;
    margin-top:2.4rem;
    font-size:2rem;
    text-transform:uppercase;
}

.cart{
    flex: 0 1 65%;
    padding:1.2rem 2.4rem ;
    display:grid;
    row-gap:4.8rem;
    grid-template-columns: minmax(30% , 60%);
    grid-template-rows: minmax(15rem,25rem);
    justify-content:space-around;
}

.product{
    display:flex;
    border-radius:6px;
    overflow:hidden;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.2);
}

.product-img{
    flex:0 1 40%;
}

.product-content{
    flex: 0 1 60%;
    padding:1.2rem 3.6rem;
    display:flex;
    flex-direction: column;
}

.product-name{
    font-size:1.8rem;
    color:#000;
    font-weight: 500;
    margin-bottom:1.2rem;
}

.price{
    display:flex;
    align-items:center;
    font-size:1.4rem;
    margin-bottom:.6rem;
}

.sell-price{
    font-weight: 800;
    font-family: 'Nunito Sans',sans-serif;
    color:#000;
}

.cost-price{
    padding: 0 1.2rem;
    text-decoration: line-through;
    font-size:1.2rem;
    font-weight:600;
}

.discount{
    font-size: 1.4rem;
    font-weight: 800;
    color:var(--text-grey);
    margin-bottom:1.2rem;
}

.quantity{
    width:60%;
    display: flex;
    justify-content:space-around;
    align-items:center;
    gap:1.4rem;
}

.quantity-container{
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex: 0 0 60%;
}

.plus,.minus{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-greyDark);
    color:var(--bg-darkWhite);
    height:1em;
    width:1em;
    padding:.5rem;
    border-radius:100rem;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.qty{
    font-size: 1.6rem;
    font-weight: 600;
}



.btn-container{
    gap:1.2rem;
    padding:2.4rem 0;
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}

.btn{
    width:100%;
    padding:.5rem 1rem;
    transition: transform 0.3s ease-in-out;
}

.btn:hover{
    opacity: 0.8;
    transform: scale(1.05);
}




/* Cart Summary styling */

.cart-summary{
    padding:1.2rem 2.4rem;
    flex: 0 1 30%;
    height:max-content;
    background: var(--text-greyLight);
    border-radius: 5px;
    box-shadow: 0 0 0 8px rgba(0,0,0,.2);
}

.horizontal-rule{
    width:100%;

}

.summary-heading{
    font-size: 1.6rem;
    text-align:center;
    font-family: 'Nunito Sans' ,sans-serif;
    font-weight: 800;
    color:#000;
}

.cart-summary-heading{
    display: none;
}

.summary-items{
    display: flex;
    justify-content:space-between;
    color:#000;
    font-weight:600;
    font-size:1.2rem;
    margin:1.2rem .6rem;
}

.final-amount{
    display: flex;
    flex-direction: column;
}

.final-amount .summary-items{
    font-size: 1.4rem;
}

.savings{
    margin-left:auto;
}

.btn-primary{
    margin:1.2rem 0;
    background-color:var(--primary);
}


/* Media Queries */

/* 960px */

@media screen and (max-width: 960px) {

    .cart{
        grid-template-columns: minmax(40% , 80%);
        grid-template-rows: minmax(20rem,25rem);
    }
    
}

/* 792px */

@media screen and (max-width: 792px) {

    main{
        margin:0;
    }

    .product-img{
        flex: 0 1 50%;
    }

    .product-content{
        padding: 1.2rem;
        flex: 0 1 50%;
    }

    .quantity{
        margin-left:2rem;
    }

    .cart{
        flex: 0 1 60%;
        padding:0;
        grid-template-columns: minmax(50% , 90%);
        grid-template-rows: minmax(20rem,27rem);
    }

    .cart-summary{
        flex: 0 1 35%;
        padding:1.2rem;
    }
        
}


/* 650px */

@media screen and (max-width: 650px) {

    main{
        flex-direction: column;
    }

    .cart-summary{
        order:-2;
        width:80%;
        margin:auto;
        margin-bottom:5.6rem;
    }

    .cart-summary-heading{
        font-size:2.4rem;
        color:var(--text-Dark);
        display:block;
        order:-1;
        margin: 0 1.2rem 4.8rem;
    }

    .horizontal-rule{
        margin-bottom: 3.6rem;;
    }
    

}

/* 450px */

@media screen and (max-width: 450px) {

    header .brand-name{
        font-size: 3.6rem;
        margin-bottom: 1.2rem;
        width:100%;
        justify-content:center;
    }

    .cart{
        grid-template-columns: 1fr;
        grid-template-rows:max-content;
        margin-bottom: 4.8rem;
    }

    .cart-summary{
        width:90%;
    }

}



