@import url('../css/header.css');
@import url('../css/shared.css');

main{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 88vh;
}

.product-details{
    min-height:70vh;
    width:80%;
    display: flex;
    padding:1.2rem;
}

.product-details div:first-child{
    flex: 0 1 50%;
    background-color:var(--bg-darkWhite);
    padding:2.4rem 4.8rem;
    position: relative;
}

.product-details div:first-child img{
    border-radius:8px;
}

.product-details .content{
    flex: 0 0 50%;
    padding:0 4.8rem;
}

.product-name{
    color:#000;
    font-size: 3rem;
    margin-bottom:1.2rem;
    font-weight: 600;
}

.product-reviews{
    font-size: 1.4rem;
    margin-bottom:1.2rem;
}

.product-price{
    color:#000;
    font-size: 2.4rem;
    font-weight: 500;
}

.description span{
    display:inline-block;
    color:#000;
    font-weight: 600;
    margin-bottom:1rem;
}

.description{
    font-size: 1.2rem;
}

.button-container{
    display: flex;
    align-items: center;
    gap:1.6rem;
    margin-top:3.6rem;
}

.button-container > *:hover{
    border:1px solid black;
    transform: scale(1.05);
}

.cart{
    width:45%;
    background-color:var(--primary);
    text-align:center;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;
}

.wishlist{
    width:45%;
    text-align:center;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;
}

.icon-container{
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    top:2%;
    right:2%;
    background-color:var(--bg-white);
    padding:6px;
    height:3em;
    width:3em;
    border-radius: 50%;
}

.wish-icon{
    color:red;
    font-size: 2.4rem;
}

.wish-icon:hover{
    transform: scale(1.2);
}

/* media queries */ 

/* 960px */

@media screen and (max-width: 960px) {

    .product-details{
        padding:3.6rem .6rem;
    }

    .button-container{
        flex-direction: column;
    }

    .button-container > *{
        width:80%;
    }

    
}

/* 792px */

@media screen and (max-width: 792px) {

    .product-details{
        padding:3.6rem .6rem;
        width:90%;
    }

    .product-details .content{
        padding: 1.2rem 2.4rem;
    }

    .product-name{
        font-size: 2.4rem;
    }

    .product-details div:first-child {
        padding: 2.4rem;
    }


}