@import url('../css/header.css');
@import url('../css/shared.css');


main{
    display:flex;
}

/* filter-menu styles */

.filter-menu{
    font-family: 'Nunito sans',sans-serif;
    display:flex;
    flex-direction:column;
    gap:1.2rem;
    min-height: 100vh;
    flex: 1 0 20%;
    padding:1.2rem 3.6rem;
    font-size:1.2rem;
    box-shadow: 0px 0px 2px rgba(0,0,0,.2);
}

.filter-header{
    margin:2.4rem 0;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.filter-header h3{
    font-size: 1.6rem;
}

.submenu-heading{
    font-size: 1.2rem;
    font-weight: 600;
}

input[type="range"]{
    padding:1.2rem 0;
    width:100%;
}

.submenu-content{
    padding: 8px;
}

.price-range{
    position: relative;
    padding-bottom: 0;
}

.min-price{
    position: absolute;
    margin-top:3px;
    top:-1%;
}

.mid-price{
    position: absolute;
    top:-3%;
    margin-top:3px;
    left:60%;
}

.max-price{
    position: absolute;
    top:-3%;
    margin-top:3px;
    right:-2%;
}

.submenu-content .field{
    display: flex;
    align-items: center;
    gap:1rem;
}



/* product-menu styles */

.product-menu{
    margin:4.8rem 0;
    flex: 0 1 80%;
    padding:1.2rem 4.8rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:3.6rem 0;
    justify-content:center;
}

.card{
    width:90%;
    height:max-content;
}

.card:hover{
    transform: translateY(-1rem);
    box-shadow: 0 5px 5px rgba(0,0,0,.6);
}

.action-container .btn-primary {
    background-color:var(--primary);
    border-radius: 4px;
}

.action-container .btn-primary:hover {
    opacity: 0.8;
}


.fill ion-icon{
    color:red;
}

.card img{
    flex:0 1 50%;
}

/* media queries */ 

/* 960px */

@media screen and (max-width: 960px) {

    .product-menu{
        grid-template-columns: repeat(2,1fr);
    }

}

/* 792px */

@media screen and (max-width: 792px) {

    .filter-menu{
        padding:1.2rem 2.4rem;
    }

    .product-menu{
        padding:1.2rem 2.4rem;
        flex: 0 1 90%;
    }

}