<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ClothNest is an e-commerce application designed for different range of clothes.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <link href="https://knights-watch-ui.netlify.app/components/card/card.css" rel="stylesheet" type="text/css" /> 
    
    <link rel="stylesheet" href="./products.css">
    <title>Knight Store | Products</title>

    <!-- Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,800;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- ion-icon -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

</head>
<body>
    <header>
        <div class="brand-name">
            <a href="/">ClothNest</a>
        </div>

        <div class="searchbar">
            <label for="search" class="icon">
                <ion-icon name="search-outline"></ion-icon>
            </label>
            <input type="text" name="search" id="search" placeholder="Search for Products, brands and more....">
        </div>

        <div class="action-container">
                <a class="btn-logout" href="#">Logout</a>

            <span class="icon">
                <a href="../wishlist/wishlist.html">
                    <ion-icon id="wishlist" name="heart-outline"></ion-icon>
                    <label for="wishlist">Wishlist</label>
                </a>
            </span>
            <span class="icon">
                <a href="../cart/cart.html">
                    <ion-icon id="cart" name="cart-outline"></ion-icon>
                    <label for="cart">Cart</label>
                </a>
            </span>

        </div>
    </header>

    <main>
        <section class="filter-menu">
            <div class="filter-header">
                <h3>Filters</h3>
                <a>Remove Filters</a>
            </div>

            <article class="filter-submenu">
                <h3 class="submenu-heading">
                    Sort by
                </h3>
                <div class="submenu-content">
                    <select>
                        <option value="">Select</option>
                        <option value="price-ascend">Price Low to High</option>
                        <option value="price-descend">Price High to Low</option>
                        <option value="rating-ascend">Rating Low to High</option>
                        <option value="rating-descend">Rating High to Low</option>
                    </select>
                </div>
            </article>

            <article class="filter-submenu">
                <h3 class="submenu-heading">
                    Price Range
                </h3>
                <div class="submenu-content price-range">
                    <span class="min-price">50</span>
                    <span class="mid-price">150</span>
                    <span class="max-price">200</span>
                    <input type="range" name="price" min="50" max="200" value="150">
                </div>
            </article>

            <article class="filter-submenu">
                <h3 class="submenu-heading">
                    Category
                </h3>
                <div class="submenu-content">
                    <div class="field">
                        <input type="checkbox" name="Mens" id="mens">
                        <label for="mens">Mens</label>
                    </div>

                    <div class="field">
                        <input type="checkbox" name="Womens" id="womens">
                        <label for="womens">Womens</label>
                    </div>

                    <div class="field">
                        <input type="checkbox" name="kids" id="kids">
                        <label for="kids">Kids</label>
                    </div>
                </div>
            </article>

            <article class="filter-submenu">
                <h3 class="submenu-heading">
                    Rating
                </h3>
                <div class="submenu-content">
                    <div class="submenu-content">
                    <div class="field">
                        <input type="radio" name="Rating" id="4+">
                        <label for="4+">4+ Stars</label>
                    </div>

                    <div class="field">
                        <input type="radio" name="Rating" id="3+">
                        <label for="3+">3+ Stars</label>
                    </div>

                    <div class="field">
                        <input type="radio" name="Rating" id="2+">
                        <label for="2+">2+ Stars</label>
                    </div>

                    <div class="field">
                        <input type="radio" name="Rating" id="1+">
                        <label for="1+">1+ Stars</label>
                    </div>
                </div>
                </div>
            </article>

        </section>

        <section class="product-menu">
            <a href="./details.html">
                <div class="card ecom-card">
                    <img src="../../images/product.webp" alt="Product Image">
                    
                    <p class="badge-item">New Arrival</p>
                    
                    <p class="wishlist-icon">
                        <ion-icon name="heart-outline"></ion-icon>
                    </p>
                
                    <p class="manufacturer">
                        Demo Product
                    </p>
                
                    <p class="item-name">
                        Demo Product Desc.
                    </p>
                    
                    <p class="price">
                        Rs. 449
                        <span class="mrp">Rs. 899</span>
                        <span class="discount">(49% off)</span>
                    </p>
                
                    <div class="action-container">
                        <button class="btn btn-primary">
                            Add to Cart
                        </button>
                        <ion-icon name="share-social" role="img" class="md hydrated" aria-label="share social"></ion-icon>
                    </div>
                </div>
            </a>

            <a href="./details.html">
                <div class="card ecom-card">
                    <img src="../../images/product.webp" alt="Product Image">

                    <p class="wishlist-icon">
                        <ion-icon name="heart-outline"></ion-icon>
                    </p>

                    <p class="manufacturer">
                        Demo Product
                    </p>

                    <p class="item-name">
                        Demo Product Desc.
                    </p>

                    <p class="price">
                        Rs. 449
                        <span class="mrp">Rs. 899</span>
                        <span class="discount">(49% off)</span>
                    </p>

                    <div class="action-container">
                        <button class="btn btn-primary">
                            Add to Cart
                        </button>
                        <ion-icon name="share-social" role="img" class="md hydrated" aria-label="share social"></ion-icon>
                    </div>
                </div>
            </a>

            <a href="./details.html">
                <div class="card ecom-card">
                <img src="../../images/product.webp" alt="Product Image">

                <p class="wishlist-icon fill">
                    <ion-icon name="heart"></ion-icon>
                </p>

                <p class="manufacturer">
                    Demo Product
                </p>

                <p class="item-name">
                    Demo Product Desc.
                </p>
                
                <p class="price">
                    Rs. 449
                    <span class="mrp">Rs. 899</span>
                    <span class="discount">(49% off)</span>
                </p>

                <div class="action-container">
                    <button class="btn btn-primary">
                        Add to Cart
                    </button>
                    <ion-icon name="share-social" role="img" class="md hydrated" aria-label="share social"></ion-icon>
                </div>
                </div>
            </a>

            <a href="./details.html">
                <div class="card ecom-card">
                <img src="../../images/product.webp" alt="Product Image">

                <p class="wishlist-icon">
                    <ion-icon name="heart-outline"></ion-icon>
                </p>

                <p class="manufacturer">
                    Demo Product
                </p>

                <p class="item-name">
                    Demo Product Desc.
                </p>
                
                <p class="price">
                    Rs. 449
                    <span class="mrp">Rs. 899</span>
                    <span class="discount">(49% off)</span>
                </p>

                <div class="action-container">
                    <button class="btn btn-primary">
                        Add to Cart
                    </button>
                    <ion-icon name="share-social" role="img" class="md hydrated" aria-label="share social"></ion-icon>
                </div>
                </div>
            </a>

            <a href="./details.html">
                <div class="card ecom-card">
                <img src="../../images/product.webp" alt="Product Image">

                <p class="wishlist-icon">
                    <ion-icon name="heart-outline"></ion-icon>
                </p>

                <p class="manufacturer">
                    Demo Product
                </p>

                <p class="item-name">
                    Demo Product Desc.
                </p>
                
                <p class="price">
                    Rs. 449
                    <span class="mrp">Rs. 899</span>
                    <span class="discount">(49% off)</span>
                </p>

                <div class="action-container">
                    <button class="btn btn-primary">
                        Add to Cart
                    </button>
                    <ion-icon name="share-social" role="img" class="md hydrated" aria-label="share social"></ion-icon>
                </div>
                </div>
            </a>

            <a href="./details.html">
                <div class="card ecom-card">
                <img src="../../images/product.webp" alt="Product Image">

                <p class="wishlist-icon">
                    <ion-icon name="heart-outline"></ion-icon>
                </p>

                <p class="manufacturer">
                    Demo Product
                </p>

                <p class="item-name">
                    Demo Product Desc.
                </p>
                
                <p class="price">
                    Rs. 449
                    <span class="mrp">Rs. 899</span>
                    <span class="discount">(49% off)</span>
                </p>

                <div class="action-container">
                    <button class="btn btn-primary">
                        Add to Cart
                    </button>
                    <ion-icon name="share-social" role="img" class="md hydrated" aria-label="share social"></ion-icon>
                </div>
                </div>
            </a>

            <a href="./details.html">
                <div class="card ecom-card">
                <img src="../../images/product.webp" alt="Product Image">

                <p class="wishlist-icon">
                    <ion-icon name="heart-outline"></ion-icon>
                </p>

                <p class="manufacturer">
                    Demo Product
                </p>

                <p class="item-name">
                    Demo Product Desc.
                </p>
                
                <p class="price">
                    Rs. 449
                    <span class="mrp">Rs. 899</span>
                    <span class="discount">(49% off)</span>
                </p>

                <div class="action-container">
                    <button class="btn btn-primary">
                        Add to Cart
                    </button>
                    <ion-icon name="share-social" role="img" class="md hydrated" aria-label="share social"></ion-icon>
                </div>
                </div>
            </a>
        </section>
    </main>
</body>
</html>