@import url('../css/header.css');
@import url('../css/shared.css');

main{
    background: linear-gradient(rgba(0 , 0 ,0 ,.4),rgba(0 , 0 ,0 , 0.8)) ,url(../../images/login-bg.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width:100%;
    min-height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color:var(--bg-white);
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;
    border-radius: 1rem;
}

.page-heading{
    text-align:center;
    font-size: 3.6rem;
    font-weight: 600;
}

.main .login{
    display: flex;
    flex-direction: column;
    width:90%;
    margin:auto;
    padding:1.6rem;
}

.field{
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
}

.field label{
    margin: 1.2rem 0;
    color: var(--text-greyDark);
    font-size:1.2rem;
}

.field input{
    height:3.6rem;
    padding: 1.2rem;
    width: 100%;
}

.btn-login{
    margin:1.6rem 0;
}

.btn-login:hover{
    transform: none;
    border:none;
    opacity: 0.8;
}

label[for='remember']{
    margin-top:1.2rem;
    display: flex;
    align-items: center;
    gap:1rem;
}

.redirection{
    font-size: 1.2rem;
}

.signUp{
    text-decoration: underline;
    color:var(--primary);
    font-size: 1.4rem;
}

.password-field{
    position: relative;
}

.off{
    display: none;
}

.on{
    position: absolute;
    right:0%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 1.6rem;
}